<!DOCTYPE html>
<html ng-app="CVGTool">
  <head>
    <!--name page browser-->
    <title>CVG Annotation Tool</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- ANGULARJS IMPORTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

    <!-- ANGULARJS MATERIAL -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <!-- BOOTSTRAP IMPORTS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- DROPZONE IMPORTS -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>
    <script type="application/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dropzone/2.0.2/ng-dropzone.js"></script>

    <!-- OWN SCRIPTS -->
    <!-- App states-->
    <script src="static/javascript/app.js"></script>
    <!-- Directives -->
    <script src="static/javascript/directives/directives.js"></script>
    <!-- services -->
    <script src="static/javascript/services/homeService.js"></script>
    <script src="static/javascript/services/loginService.js"></script>
    <script src="static/javascript/services/adminVideosService.js"></script>
    <!-- controllers -->
    <script src="static/javascript/controllers/homeController.js"></script>
    <script src="static/javascript/controllers/loginController.js"></script>
    <script src="static/javascript/controllers/navbarController.js"></script>
    <script src="static/javascript/controllers/adminVideosController.js"></script>

    <!-- stylesheets -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body class="body">
  <navbar></navbar>
  <!-- the content here will be the 'body page' and it will change dependending of the current state -->
  <ui-view></ui-view>
  </body>
</html>
