<md-dialog>
    <div class="panel">
        <md-dialog-content>
            <div ng-if="mode == 'error'" class="alert alert-danger">
                <strong>&#10008</strong> {{msg}}
            </div>
            <div ng-if="mode == 'success'" class="alert alert-success">
                <strong>&#10004</strong> {{msg}}
            </div>
            <h2>Activities</h2>
            <div class="form-group">
                <label>Activities</label>
                <select size=4 class="form-control" ng-model="activitiesList">
                    <option ng-repeat="activity in activitiesList">{{activity}}</option>
                </select>
            </div>
            <form role="form" ng-submit="createActivity(newActivity)">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="New Activity" ng-model="newActivity">
                    </div>
                </div>
                <p style="text-align:center">
                    <button type="submit" class="btn btn-primary theme-accent">Create
                    </button>
                    <button type="reset" ng-click="cancel()" class="btn btn-danger">Close</button>
                </p>
            </form>

        </md-dialog-content>
<!--        <md-dialog-actions>-->
<!--            <button ng-click="cancel()" class="btn btn-danger">Cancel</button>-->
<!--            <button ng-click="createActivity()" class="btn btn-primary">Create</button>-->
<!--        </md-dialog-actions>-->
    </div>
<!--    <div class="panel" ng-if="mode == 'error'">-->
    <!--        <md-dialog-content>-->
    <!--            <div class="alert alert-danger">-->
    <!--                <strong>&#10008</strong> {{msg}}-->
    <!--            </div>-->
    <!--        </md-dialog-content>-->
    <!--        <md-dialog-actions>-->
    <!--            <button ng-click="cancel()" class="btn btn-danger">Close</button>-->
    <!--        </md-dialog-actions>-->
    <!--    </div>-->
    <!--    <div class="panel" ng-if="mode == 'success'">-->
    <!--        <md-dialog-content>-->
    <!--            <div class="alert alert-success">-->
    <!--                <strong>&#10004</strong> {{msg}}-->
    <!--            </div>-->
    <!--        </md-dialog-content>-->
    <!--        <md-dialog-actions>-->
    <!--            <button ng-click="cancel()" class="btn btn-danger">Close</button>-->
    <!--        </md-dialog-actions>-->
    <!--    </div>-->
</md-dialog>