<md-dialog style="display: flex;">
    <div class="panel">
        <md-dialog-content>
            <div ng-if="!retrievingData">
                <h3>Select a camera recording</h3>
                <div ng-if="activeDataset.type == 'poseTrack'" class="container">
                    <div class="form-group">
                        <label>Videos</label>
                        <select size=4 class="form-control" ng-model="videosSelected.videos" style="/*width: 970px*/">
                      <option  ng-repeat="video in listOfVideos" >{{video.name}}</option>
                    </select>
                    </div>

                </div>
                <div ng-if="activeDataset.type != 'poseTrack'" class="container">
                    <div class="form-group">
                        <label>Videos (hold shift or ctrl to select more than one)</label>
                        <select multiple class="form-control" ng-model="videosSelected.videos">
                            <option  ng-repeat="video in listOfVideos" >{{video.name}}</option>
                        </select>
                    </div>

                </div>
        </md-dialog-content>
        <md-dialog-actions>
            <div>
                <button ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
            <div ng-if="isVideoSelected()">
                <button ng-if="isVideoSelected" ng-click="end()" class="btn btn-danger">Add</button>
            </div>
        </md-dialog-actions>
        </div>
</md-dialog>