<md-dialog>
        <div class="panel" ng-if="mode=='normal'">
            <md-dialog-content>
                <h2>Change Person ID</h2>
                <hr/>
                <div class="form-group">
                        <label>Person ID</label>
                        <p>{{values.old_person_id}}</p>
                </div>
                <div class="form-group">
                    <label>New Person ID:</label>
                    <input type="text" class="form-control" ng-model="values.new_person_id" required>
                </div>
            </md-dialog-content>
            <md-dialog-actions>
                <button ng-click="close()" class="btn btn-danger">Close</button>
                <button ng-click="change()" class="btn btn-primary">Change</button>
            </md-dialog-actions>
        </div>
        <div class="panel" ng-if="mode=='check'">
            <md-dialog-content>
                <h2>Confirmation</h2>
                <hr/>
                <p>You are going to change the person ID from <b>{{values.old_person_id}}</b> to <b>{{values.new_person_id}}</b> for the
                    object <b>{{object.uid}}</b>.
                </p>
                <h3>Are you sure?</h3>
            </md-dialog-content>
            <md-dialog-actions>
                <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
                <button ng-click="confirm()" class="btn btn-primary">Confirm</button>
            </md-dialog-actions>
        </div>
    </md-dialog>