<md-dialog>
    <div class="panel" ng-if="mode == 'normal'">
        <md-dialog-content ng-if="mode == 'normal'">
            <h2>Delete user</h2>
            <p>Are your sure?</p>
        </md-dialog-content>
        <md-dialog-actions>
            <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
            <button ng-click="remove()" class="btn btn-primary">Delete</button>
        </md-dialog-actions>
    </div>
    <div class="panel" ng-if="mode == 'error'">
        <md-dialog-content>
            <div class="alert alert-danger">
                <strong>&#10008</strong> {{msg}}
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button ng-click="cancel()" class="btn btn-danger">Close</button>
        </md-dialog-actions>
    </div>
    <div class="panel" ng-if="mode == 'success'">
        <md-dialog-content>
            <div class="alert alert-success">
                <strong>&#10004</strong> {{msg}}
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button ng-click="cancel()" class="btn btn-danger">Close</button>
        </md-dialog-actions>
    </div>
</md-dialog>