<md-dialog>
    <div class="panel" ng-if="mode == 'normal'">
        <md-dialog-content>
            <select name="Type" ng-model="variables.datasetType">
                <option value="actionInKitchen" selected>Action In Kitchen</option>
                <option value="poseTrack">Pose Track</option>
            </select>
            <table class="table table-bordered table-responsive text-center">
                <thead>
                <tr>
                    <th class="col-md-8">Name</th>
                    <th class="col-md-4">Size</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="files.length != 0" ng-repeat="file in variables.files" ng-click="selectZip(file)">
                    <td>{{file.name}}</td>
                    <td>{{file.size}}</td>
                </tr>
                </tbody>
            </table>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-primary md-raised">Close</md-button>
        </md-dialog-actions>
    </div>
    <div class="panel" ng-if="mode == 'progress'">
        <md-dialog-content>
            <div class="alert alert-secondary">
                <i class="glyphicon glyphicon-refresh gly-spin col-md-2"></i>
                <p class="col-md-10">
                    Loading, please wait. <br/> If the file is bigger than 1GB, go get a coffee.
                </p>
            </div>
        </md-dialog-content>
    </div>
    <div class="panel" ng-if="mode == 'error'">
        <md-dialog-content>
            <div class="alert alert-danger">
                <strong>&#10008</strong> {{msg}}
            </div>
            <md-dialog-actions>
                <md-button ng-click="cancel()" class="md-primary md-raised">Close</md-button>
            </md-dialog-actions>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-primary md-raised">Close</md-button>
        </md-dialog-actions>
    </div>
    <div class="panel" ng-if="mode == 'success'">
        <md-dialog-content>
            <div class="alert alert-success">
                <strong>&#10004</strong> {{msg}}
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-primary md-raised">Close</md-button>
        </md-dialog-actions>
    </div>
</md-dialog>
