<div ng-controller="toastCtrl">
</div>

<div style="height: 98%">
    <div class="row" style="height: 98%;">
        <div class="panel panel-default" style="height: 100%">
            <div class="panel-body">
                <h2 class="col-md-4">Selection</h2>
                <h2 class="col-md-8">User Activity</h2>
                <hr/>
                <div class="panel">
                    <div class="col-md-4">
                        <div class="row">
                            <div style="overflow-y: auto; max-height: 800px;">
                                <h4>Select Dataset, User, or both to see their statistics.</h4>
                                <form>
                                    <div class="form-group">
                                        <label for="statSelect">Data selection</label>
                                        <select class="form-control"
                                                ng-options="stat as stat.display for stat in listOfStats"
                                                ng-model="selectedStat"
                                                id="statSelect"></select>
                                    </div>
                                    <p>{{selectedStat.info}}</p>
<!--                                    Code to only show the selector if the option requires it-->
<!--                                    ng-if="selectedStat.requires.includes('dataset')"-->
                                    <div class="form-group">
                                        <label for="datasetSelect">Select Dataset</label>
                                        <select class="form-control"
                                                ng-options="dataset as dataset.name for dataset in filteredListOfDatasets"
                                                ng-model="selectedDataset"
                                                ng-change="selectDataset(dataset)"
                                                id="datasetSelect">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="userSelect">Select User</label>
                                        <select class="form-control"
                                                ng-options="user as user.name for user in filteredListOfUsers"
                                                ng-model="selectedUser"
                                                ng-change="selectUser(user)"
                                                id="userSelect">
                                        </select>
                                    </div>
                                    <button type="submit" ng-click="loadStatistics()" class="btn btn-primary">Submit</button>
                                    <button type="reset" ng-click="resetSelections()" class="btn btn-danger">Reset</button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div style="overflow-y: auto; max-height: 650px;">
                            <canvas ng-if="statType.localeCompare('chart')===0" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>

                            <table ng-if="statType.localeCompare('table')===0" class="table table-bordered table-responsive text-center">
                                <thead>
                                <tr>
                                    <th class="col-md-6">Sequence</th>
                                    <th class="col-md-6">Time</th>    
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="sequence in labels">
                                    <td class="text-left">{{labels[$index]}}</td>
                                    <td class="text-left">{{data[$index]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOADING PANEL -->
<div id="LoadingPanel" class="panel panel-loading animate-show-hide" ng-show="loadingScreenManager.loading==true">
    <div class="row">
        <div class="panel" style="position: absolute; left: 30%; width: 40%; top: 20%;">
            <div class="panel-body">
                <img ng-if="toolParameters.user.name !== 'martin'" src="/static/resources/loading.gif" />
                <img ng-if="toolParameters.user.name === 'martin'" src="/static/resources/pdro.gif" />
                <h2>Loading content</h2>
                <p>Please wait</p>
            </div>
        </div>
    </div>
</div>
</div>