<div ng-controller="toastCtrl">
</div>

<div style="height: 98%">
    <div class="row" style="height: 98%;">
        <div class="panel panel-default" style="height: 100%">
            <div class="panel-body">
                <h2 class="col-md-4">Datasets</h2>
                <h2 class="col-md-8">User Actions</h2>
                <hr/>
                <div class="row">

                    <div class="col-md-4">
                        <div style="overflow-y: auto; max-height: 800px;">
                            <table class="table table-bordered table-responsive text-center">
                                <thead>
                                <tr>
                                    <th class="col-md-3">Name</th>
                                    <th class="col-md-3">Type</th>
                                    <th class="col-md-3">Select</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-if="listOfDatasets.length > 0" ng-repeat="dataset in listOfDatasets">
                                    <td class="text-left">{{dataset.name}}</td>
                                    <td>{{dataset.type}}</td>
                                    <td ng-if="selectedDataset.name != dataset.name">
                                        <button ng-click="selectDataset(dataset)" class="btn btn-primary"><span
                                                class="glyphicon glyphicon-chevron-right"></span></button>
                                    </td>
                                    <td ng-if="selectedDataset.name == dataset.name">
                                        <button ng-click="deselectDataset()" class="btn btn-danger"><span
                                                class="glyphicon glyphicon-chevron-left"></span></button>
                                    </td>
                                </tr>
                                <tr ng-if="listOfDatasets.length == 0">
                                    <td class="text-left">No datasets</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div style="overflow-y: auto; max-height: 800px;">
                            <!-- <table class="table table-bordered table-responsive text-center">
                                <thead>
                                <tr>
                                    <th class="col-md-1">User</th>
                                    <th class="col-md-1">Dataset</th>
                                    <th ng-if="selectedDataset.type === 'poseTrack'" class="col-md-1">Scene</th>
                                    <th class="col-md-2">Action</th>
                                    <th class="col-md-5">Timestamp</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-if="listOfActions.length > 0" ng-repeat="userAction in listOfActions">
                                    <td class="text-left">{{userAction.user}}</td>
                                    <td>{{userAction.dataset}}</td>
                                    <td ng-if="selectedDataset.type === 'poseTrack'">{{userAction.scene}}</td>
                                    <td>{{userAction.action}}</td>
                                    <td>{{userAction.timestamp}}</td>
                                </tr>
                                <tr ng-if="listOfActions.length == 0 || selectedDataset.name == 'none'">
                                    <td class="text-left" ng-if="selectedDataset.name != 'none'">No user actions in this dataset.
                                    </td>
                                    <td class="text-left" ng-if="selectedDataset.name == 'none'">Select a dataset.</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>-->
                            <canvas id="testChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
