<div style="height: 98%;">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Tasks</h4>
            <hr/> Don't forget to select a dataset from the selector in the navbar!
            <hr/>
            <div style="padding-top: 20px;" class="container">
                <button ng-if="videos.length <= 0" class="btn btn-primary" ng-click="loadVideoTable()">Load video info</button>
                <!--                <button ng-if="videos.length > 0" class="btn btn-primary" ng-click="loadVideoTable()">Refresh video info</button>-->
            </div>
            <div ng-if="videos.length > 0" style="padding-top: 20px;" class="container">
                <div style="overflow-y: auto; max-height: 400px;">
                    <table class="table table-bordered table-responsive text-center">
                        <thead>
                            <tr>
                                <th class="col-md-8" colspan="5">Video Info</th>
                            </tr>
                            <tr>
                                <td class="col-md-2">Name<br></td>
                                <td class="col-md-2">Type</td>
                                <td class="col-md-1">Start Frame<br></td>
                                <td class="col-md-1">End Frame</td>
                                <td class="col-md-1">Total Frames<br></td>
                            </tr>
                        </thead>

                        <tr ng-repeat="video in videos">
                            <td>{{video.name}}</td>
                            <td>{{video.type}}</td>
                            <td>{{video.frameStart}}</td>
                            <td>{{video.frameEnd}}</td>
                            <td>{{video.frames}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="padding-top: 20px;" class="container">
                <hr />
                <!-- Select frame intervals -->
                <div class="form">
                    <div class="form-group">
                        <label class="control-label col-md-2">Select range of frames:</label>
                        <div class="col-md-10">
                            Initial frame:
                            <input type="number" ng-model="initialFrame" min="{{slider.options.floor}}" ng-blur="checkSlider()"/>
                            <br/>Range:
                            <input type="number" ng-model="slider.range" min="{{slider.options.floor}}" max="{{slider.options.ceil}}" />
                            <br/>
                            <rzslider rz-slider-model="slider.range" rz-slider-options="slider.options"></rzslider>

                            Loading frames from {{initialFrame}} to {{initialFrame+slider.range}}
                        </div>
                    </div>
                </div>
            </div>

            <button ng-click="goToTool()">Tool</button>
        </div>
    </div>
</div>