<div style="height: 98%;">
  <div class="row" style="height: 100%;">
    <!-- Videos panel -->
      <div class="col-md-1 padding-0" style="height: 100%;">
        <div class="panel panel-default padding-0" style="height: 100%;">
          <div class="panel-heading">
            <h4>Videos</h4>
          </div>
          <div class="panel-body text-center">
            <div ng-repeat="video in loadedCameras">
              <div class="container text-center" style="width: 80px; height: width/1.5; padding-bottom: 15px;">
                  <img class="img" style="width: 80px; height: width/1.5;" ng-click="openSelector(video)" src="{{video.frames[0].image}}" />
              </div>
            </div>
            <button ng-click="addCamera()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>

      <!-- Popover selector -->
      <div id="popover-selector" class="hide">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-6">
                  <button type="button" class="btn btn-default">1</button>
                  <button type="button" class="btn btn-default">2</button>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <button type="button" class="btn btn-default">3</button>
                  <button type="button" class="btn btn-default">4</button>
              </div>
          </div>
        </div>
      </div>
      <!-- Camera panel -->
      <div class="col-md-10 padding-0" style="height: 100%;">
        <div class="panel panel-default text-center padding-0" style="height: 90%;">
          <div class="row" style="height: 50%;">
            <div class="col-md-6" style="height: 100%; padding-bottom: 1px;">
                <canvas id="canvas1" class="playable-canvas" style="border:1px solid #000000;"></canvas>
            </div>
            <div class="col-md-6" style="height: 100%; padding-bottom: 1px;">
                <canvas id="canvas2" class="playable-canvas" style="border:1px solid #000000;"></canvas>
            </div>
          </div>
          <div class="row" style="height: 50%;">
            <div class="col-md-6" style="height: 100%; padding-top: 1px;">
                <canvas id="canvas3" class="playable-canvas" style="border:1px solid #000000;"></canvas>
            </div>
            <div class="col-md-6" style="height: 100%; padding-top: 1px;">
                <canvas id="canvas4" class="playable-canvas" style="border:1px solid #000000;"></canvas>
            </div>
          </div>
        </div>
        <div class="panel panel-default" style="height: 8%;">
          <div class="row">
            <div class="col-md-2">
              <button ng-click="previousFrame()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
              <button ng-if="!isPlaying" ng-click="switchPlay()" class="btn btn-default"><span class="glyphicon glyphicon-play"></button>
              <button ng-if="isPlaying" ng-click="switchPlay()" class="btn btn-default"><span class="glyphicon glyphicon-pause"></button>
              <button ng-click="nextFrame()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
            <div class="col-md-10">
              <rzslider
                   rz-slider-model="slider.value"
                   rz-slider-options="slider.options"></rzslider>
            </div>
          </div>
        </div>
      </div>
      <!-- Tools panel -->
      <div class="col-md-1 padding-0" style="height: 100%;">
        <div class="panel panel-default text-center padding-0" style="height: 100%;">
          <div class="panel-heading">
            <h4>Tools</h4>
          </div>
          <div class="panel-body">
              <!-- Navigation tool -->
              <div class="panel panel-default panel-tool" ng-click="switchTool('navigation')">
                <div class="panel-heading panel-heading-tool" ng-if="tool!='navigation'">
                  <span class=" glyphicon glyphicon-move "></span><p>Navigation</p>
                </div>
                <div class="panel-heading panel-heading-tool-selected" ng-if="tool=='navigation'">
                  <span class=" glyphicon glyphicon-move "></span><p>Navigation</p>
                </div>
              </div>
              <!-- Keypoints tool -->
              <div class="panel panel-default panel-tool" ng-click="switchTool('keypoint')">
                <div class="panel-heading panel-heading-tool" ng-if="tool!='keypoint'">
                  <span class=" glyphicon glyphicon-screenshot "></span><p>Keypoints</p>
                </div>
                <div class="panel-heading panel-heading-tool-selected" ng-if="tool=='keypoint'">
                  <span class=" glyphicon glyphicon-screenshot "></span><p>Keypoints</p>
                </div>
                <div class="panel-body" ng-if="tool=='keypoint'">
                    <button class="btn btn-default" data-toggle="tooltip" title="Add keypoint" data-placement="left" ng-click="switchSubTool('addKeypoint')">
                        <span ng-if="subTool!='addKeypoint'" class="glyphicon glyphicon-plus"></span>
                        <span ng-if="subTool=='addKeypoint'" style="color: blue;" class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" data-toggle="tooltip" title="Edit keypoint tags" data-placement="left" ng-click="switchSubTool('editKeypointTags')">
                        <span ng-if="subTool!='editKeypointTags'" class="glyphicon glyphicon-tag"></span>
                        <span ng-if="subTool=='editKeypointTags'" style="color: blue;" class="glyphicon glyphicon-tag"></span>
                    </button>
                    <button class="btn btn-default" data-toggle="tooltip" title="Remove keypoint" data-placement="left" ng-click="switchSubTool('removeKeypoint')">
                        <span ng-if="subTool!='removeKeypoint'" class="glyphicon glyphicon-remove"></span>
                        <span ng-if="subTool=='removeKeypoint'" style="color: blue;" class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
