<div style="height: 98%;">
    <div class="row" style="height: 100%;">
        <!-- Videos panel -->
        <div class="col-md-1" style="height: 100%;">
            <div class="panel panel-default" style="height: 100%;">
                <div class="panel-body text-center">
                    <h4>Videos</h4>
                    <hr/>
                    <div ng-repeat="video in loadedCameras">
                        <div class="container text-center" style="width: 80px; height: width/1.5; padding-bottom: 15px;">
                            <img class="img" style="width: 80px; height: width/1.5;" ng-click="openSelector(video)" src="{{video.frames[slider.value - frameFrom].image}}" />
                        </div>
                    </div>
                    <button ng-click="addCamera()" class="btn btn-default"><span
                            class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>

        <!-- Camera panel -->
        <div class="col-md-10" style="height: 100%;">
            <div class="row" style="height: 90%">
                <div class="panel panel-default" style="height: 100%">
                    <!-- Canvases -->
                    <div id="canvas-container" class="panel-body" style="height: 100%">
                        <div class="row" style="height: 50%;">
                            <div class="col-md-6" style="height: 100%;">
                                <canvas id="canvas1" class="playable-canvas" style="border:1px solid #FF2D26;"></canvas>
                            </div>
                            <div class="col-md-6" style="height: 100%;">
                                <canvas id="canvas2" class="playable-canvas" style="border:1px solid #5673E8;"></canvas>
                            </div>
                        </div>
                        <div class="row" style="height: 50%; ">
                            <div class="col-md-6" style="height: 100%;">
                                <canvas id="canvas3" class="playable-canvas" style="border:1px solid #A66BFF;"></canvas>
                            </div>
                            <div class="col-md-6" style="height: 100%;">
                                <canvas id="canvas4" class="playable-canvas" style="border:1px solid #51FF2D;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 10%">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <button ng-click="previousFrame()" class="btn btn-default"><span
                                        class="glyphicon glyphicon-chevron-left"></span></button>
                                <button ng-if="!isPlaying" ng-click="switchPlay()" class="btn btn-default"><span
                                        class="glyphicon glyphicon-play"></button>
                                <button ng-if="isPlaying" ng-click="switchPlay()" class="btn btn-default"><span
                                        class="glyphicon glyphicon-pause"></button>
                                <button ng-click="nextFrame()" class="btn btn-default"><span
                                        class="glyphicon glyphicon-chevron-right"></span></button>
                            </div>
                            <div class="col-md-10">
                                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tools panel -->
        <div class="col-md-1" style="height: 100%;">
            <div class="panel panel-default text-center" style="height: 100%;">
                <div class="panel-body">
                    <h4>Tools</h4>
                    <hr/>
                    <!-- Navigation tool -->
                    <div ng-click="switchTool('navigation')">
                        <button class="btn btn-default btn-xl btn-circle" ng-if="tool!='navigation'"><span
                                class=" glyphicon glyphicon-move"></button>
                        <button class="btn btn-default btn-xl btn-circle-selected" ng-if="tool=='navigation'"><span
                                class=" glyphicon glyphicon-move"></button>
                    </div>
                    <hr/>
                    <!-- Number of panels tool -->
                    <div ng-if="activeDataset.type !== 'poseTrack'" ng-click="switchTool('numCanvas')">
                        <button class="btn btn-default btn-xl btn-circle " ng-if="tool!='numCanvas'"><span
                                class=" glyphicon glyphicon-th-large "></button>
                        <button class="btn btn-default btn-xl btn-circle-selected" ng-if="tool=='numCanvas'"><span
                                class=" glyphicon glyphicon-th-large "></button>
                    </div>
                    <div ng-if="tool=='numCanvas'">
                        <!-- One panel -->
                        <div class="row">
                            <button class="btn btn-default btn-circle" ng-if="numberOfCanvases!=1" ng-click="switchNumberOfCanvases(1)"><strong>1</strong></button>
                            <button class="btn btn-default btn-circle-selected" ng-if="numberOfCanvases==1" ng-click="switchNumberOfCanvases(1)"><strong>1</strong></button>
                        </div>
                        <!-- Two panels -->
                        <div class="row">
                            <button class="btn btn-default btn-circle" ng-if="numberOfCanvases!=2" ng-click="switchNumberOfCanvases(2)"><strong>2</strong></button>
                            <button class="btn btn-default btn-circle-selected" ng-if="numberOfCanvases==2" ng-click="switchNumberOfCanvases(2)"><strong>2</strong></button>
                        </div>
                        <!-- Three panels -->
                        <div class="row">
                            <button class="btn btn-default btn-circle" ng-if="numberOfCanvases!=3" ng-click="switchNumberOfCanvases(3)"><strong>3</strong></button>
                            <button class="btn btn-default btn-circle-selected" ng-if="numberOfCanvases==3" ng-click="switchNumberOfCanvases(3)"><strong>3</strong></button>
                        </div>
                        <!-- Two panels -->
                        <div class="row">
                            <button class="btn btn-default btn-circle" ng-if="numberOfCanvases!=4" ng-click="switchNumberOfCanvases(4)"><strong>4</strong></button>
                            <button class="btn btn-default btn-circle-selected" ng-if="numberOfCanvases==4" ng-click="switchNumberOfCanvases(4)"><strong>4</strong></button>
                        </div>
                    </div>
                    <hr/>
                    <!-- Zoom tool -->
                    <!-- <div ng-click="switchTool('zoom')">
                        <button class="btn btn-default btn-xl btn-circle " ng-if="tool!='zoom'"><span class=" glyphicon glyphicon-search "></button>
                        <button class="btn btn-default btn-xl btn-circle-selected" ng-if="tool=='zoom'"><span class=" glyphicon glyphicon-search "></button>
                    </div>
                    <div ng-if="tool=='zoom'"> -->
                    <!-- Zoom In sub tool -->
                    <!-- <div class="row">
                            <button class="btn btn-default btn-circle" ng-if="subTool!='zoomIn'" ng-click="switchSubTool('zoomIn')"><span class=" glyphicon glyphicon-zoom-in" ></button>
                            <button class="btn btn-default btn-circle-selected" ng-if="subTool=='zoomIn'" ng-click="switchSubTool('')"><span class=" glyphicon glyphicon-zoom-in "></button>
                        </div> -->
                    <!-- Zoom Out sub tool -->
                    <!-- <div class="row">
                            <button class="btn btn-default btn-circle" ng-if="subTool!='zoomOut'" ng-click="switchSubTool('zoomOut')"> <span class=" glyphicon glyphicon-zoom-out" ></button>
                            <button class="btn btn-default btn-circle-selected" ng-if="subTool=='zoomOut'" ng-click="switchSubTool('')"> <span class=" glyphicon glyphicon-zoom-out"></button>
                        </div>
                    </div> -->
                    <hr/>
                    <!-- Keypoints tool -->
                    <div ng-click="switchTool('keypoint')">
                        <button class="btn btn-default btn-xl btn-circle" ng-if="tool!='keypoint'"><span
                                class=" glyphicon glyphicon-pushpin "></button>
                        <button class="btn btn-default btn-xl btn-circle-selected" ng-if="tool=='keypoint'"><span
                                class=" glyphicon glyphicon-pushpin"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Kepoint Manager Panel -->
        <div id="keyPointManagerPanel" class="panel panel-default" style="position: absolute; width: 800px; height: 500px;" ng-show="keyPointManagerTab==true">
            <div class="panel-heading" ng-draggable='dragOptions'>
                <div class="row">
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-move"></span>
                    </div>
                    <div class="col-sm-10">
                        Keypoint Manager
                    </div>
                    <div class="col-sm-1">
                        <button class="btn-invisible btn-xs" ng-click="closeKeyPointManager()"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#3dkeypoints" target="_self">3D Keypoints</a></li>
                    <li><a data-toggle="tab" href="#actions" target="_self">Actions</a></li>
                </ul>

                <div class="tab-content">
                    <!--                    KeyPoints table -->
                    <div id="3dkeypoints" class="tab-pane fade in active">
                        <div class="form-group">
                            <label for="sel1">Select Object type:</label>
                            <select class="form-control" id="sel1" ng-model="objectManager.selectedType" ng-options="objectType.type for objectType in objectManager.objectTypes track by objectType.type">
                            </select>
                        </div>
                        <div class="container" style="overflow: auto; max-height: 300px; max-width: 700px;">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Objects</th>
                                        <th ng-repeat="frame in frameList">{{frame}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="object in objectManager.selectedType.objects">
                                        <td>{{object.uid}}</td>
                                        <th ng-repeat="f in object.frames">
                                            <button class="btn btn-success" ng-if="f.keypoints.length != 0" ng-click="openKeyPointEditor(object,f.frame)"><span
                                                class="glyphicon glyphicon-pushpin"></span></button>
                                            <button class="btn btn-info" ng-if="f.keypoints.length == 0" ng-click="openKeyPointEditor(object,f.frame)"><span
                                                class="glyphicon glyphicon-pushpin"></span></button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-primary" ng-click="createNewObject()"><span
                                                class="glyphicon glyphicon-plus"></span></button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--                    Actions table -->
                    <div id="actions" class="tab-pane fade">
                        <div class="container" style="overflow: auto; max-height: 300px; max-width: 700px;">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Objects</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="object in objectManager.objectTypes['personAIK'].objects" ng-click="openActionsEditor(object)">
                                        <td>{{object.uid}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Keypoint editor mini panel-->
        <div id="keyPointEditorPanel" class="panel panel-default" style="position: absolute; width: 450px; height: 500px;" ng-show="keyPointEditorTab==true">
            <div class="panel-heading" ng-draggable='dragOptions'>
                <div class="row">
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-move"></span>
                    </div>
                    <div class="col-sm-10">
                        Keypoint Editor
                    </div>
                    <div class="col-sm-1">
                        <button class="btn-invisible btn-xs" ng-click="closeKeyPointEditor()"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col col-md-8">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Object type:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{objectManager.selectedObject.type}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Frame:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{slider.value}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">UID:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{objectManager.selectedObject.uid}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col col-md-4">
                        Image of the person will go here
                    </div>
                </div>

                <hr/>
                <div class="row" ng-if="objectManager.selectedObject.frames[slider.value - frameFrom].keypoints.length != 0">
                    <div class="col col-md-8">
                        <span class="label label-success">Keypoint exists</span>
                    </div>
                    <div class="col col-md-2">
                        <button class="btn-sm btn-danger" ng-click="removeAnnotation()">Remove</button>
                    </div>
                </div>
                <div class="row" ng-if="objectManager.selectedObject.frames[slider.value - frameFrom].keypoints.length == 0">
                    <div class="col col-md-8">
                        <span class="label label-primary">Keypoint doesn't exist</span>
                    </div>
                    <div class="col col-md-2"></div>
                </div>

                <hr/>
                <div>
                    <div class="container" style="overflow: auto; max-height: 100px; max-width: 300px;">
                        <table class="table table-hover table-bordered" style="height: 100px; width: 300;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="label in objectManager.objectTypes[objectManager.selectedObject.type].labels">
                                    <td>{{label}}</td>
                                    <th ng-if="activeDataset.dim == 3">
                                        <button ng-if="newPoint.point1.length == 0" class="btn btn-info" ng-click="clearNewPoint(1); switchSubTool('addPrimaryPoint');">
                                        <span>1</span></button>
                                        <button ng-if="newPoint.point1.length != 0" class="btn btn-success" ng-click="clearNewPoint(1); switchSubTool('addPrimaryPoint');">
                                        <span>1</span></button>
                                        <button ng-if="newPoint.point2.length == 0" class="btn btn-info" ng-click="getEpilines(); clearNewPoint(2); switchSubTool('addSecondaryPoint');">
                                        <span>2</span></button>
                                        <button ng-if="newPoint.point2.length != 0" class="btn btn-success" ng-click="getEpilines(); clearNewPoint(2); switchSubTool('addSecondaryPoint');">
                                        <span>2</span></button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn-success" ng-click="updateAnnotation()">Save</button>
                </div>
            </div>
        </div>

        <!-- Actions editor panel -->
        <div id="ActionsEditorPanel" class="panel panel-default" style="position: absolute; width: 700px; height: 400px;" ng-show="actionsEditorTab==true">
            <div class="panel-heading" ng-draggable='dragOptions'>
                <div class="row">
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-move"></span>
                    </div>
                    <div class="col-sm-10">
                        Actions Editor
                    </div>
                    <div class="col-sm-1">
                        <button class="btn-invisible btn-xs" ng-click="closeActionsEditor()"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="sel2">Select activity:</label>
                        <select class="form-control" id="sel2" ng-model="actionManager.selectedType">
                            <option ng-repeat="name in actionManager.activitiesList">{{name}}</option>
                        </select>
                        <!--                        <label class="control-label col-sm-2">Placeholder:</label>-->
                        <!--                        <div class="col-sm-10">-->
                        <!--                            <p class="form-control-static">placeholder</p>-->
                        <!--                        </div>-->
                    </div>
                </form>
                <hr/>
                <div class="container" style="overflow: auto; max-height: 200px; max-width: 500px;">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Remove</th>
                                <th>Action</th>
                                <th ng-repeat="frame in frameList">{{frame}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="action in actionManager.actionList">
                                <td>
                                    <button class="btn-danger" ng-click="removeAction(action)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                </td>
                                <td>{{action.name}}</td>
                                <th ng-repeat="f in frameList">
                                    <!--                                When neither Start not End selected-->
                                    <button class="btn btn-invisible" ng-click="selectActionFrame(f, action)" ng-if="(action.startFrame == null && action.endFrame == null)">
                                    <span ng-if="actionManager.isActionSelected == false"
                                          class="glyphicon glyphicon-minus" style="filter: invert(1);"></span>
                                    <span ng-if="(actionManager.isActionSelected == true)"
                                          class="glyphicon glyphicon-minus" style="filter: invert(1);"></span>
                                </button>
                                    <!--                                When Start selected but End not, all from Start green-->
                                    <button class="btn btn-success" ng-click="selectActionFrame(f, action)" ng-if="(f >= action.startFrame && action.startFrame != null && action.endFrame == null)">
                                    <span class="glyphicon glyphicon-play-circle" style="filter: invert(1);"></span>
                                </button>
                                    <!--                                When Start selected but End not, all before Start blue-->
                                    <button class="btn btn-primary" ng-click="selectActionFrame(f, action)" ng-if="(f < action.startFrame && action.startFrame != null && action.endFrame == null)">
                                    <span class="glyphicon glyphicon-minus" style="filter: invert(1);"></span>
                                </button>
                                    <!--                                When both selected, all not in between Start and End blue-->
                                    <button class="btn btn-primary" ng-if="!(action.startFrame == null || action.endFrame == null)
                                                                    && !(f >= action.startFrame && f <= action.endFrame)">
                                    <span class="glyphicon glyphicon-minus" style="filter: invert(1);"></span>
                                </button>
                                    <!--                                When both selected, all in between Start and End green-->
                                    <button class="btn btn-success" ng-if="!(action.startFrame == null || action.endFrame == null)
                                                                    && (f >= action.startFrame && f <= action.endFrame)">
                                    <span ng-if="(f >= action.startFrame && f < action.endFrame)"
                                          class="glyphicon glyphicon-play-circle" style="filter: invert(1);"></span>
                                    <span ng-if="action.endFrame == f" class="glyphicon glyphicon-play-circle"
                                          style="filter: invert(1);"></span>
                                </button>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-primary" ng-click="createNewAction()"><span
                                        class="glyphicon glyphicon-plus"></span></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>