<div style="height: 98%;">
  <div class="row" style="height: 100%;">
    <!-- Videos panel -->
      <div class="col-md-1" style="height: 100%;">
        <div class="panel panel-default" style="height: 100%;">
          <div class="panel-body text-center">
            <h4>Videos</h4>
            <hr/>
            <div ng-repeat="video in loadedCameras">
              <div class="container text-center" style="width: 80px; height: width/1.5; padding-bottom: 15px;">
                  <img class="img" style="width: 80px; height: width/1.5;" ng-click="openSelector(video)" src="{{video.frames[0].image}}" />
              </div>
            </div>
            <button ng-click="addCamera()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>

      <!-- Camera panel -->
      <div class="col-md-10" style="height: 100%;">
          <div class="row" style="height: 90%">
            <div class="panel panel-default" style="height: 100%">
                <div class="panel-body" style="height: 100%">
                    <div class="row" style="height: 50%;">
                      <div class="col-md-6" style="height: 100%;">
                          <canvas id="canvas1" class="playable-canvas" style="border:1px solid #000000;"></canvas>
                      </div>
                      <div class="col-md-6" style="height: 100%;">
                          <canvas id="canvas2" class="playable-canvas" style="border:1px solid #000000;"></canvas>
                      </div>
                    </div>
                    <div class="row"style="height: 50%;">
                      <div class="col-md-6" style="height: 100%;">
                          <canvas id="canvas3" class="playable-canvas" style="border:1px solid #000000;"></canvas>
                      </div>
                      <div class="col-md-6" style="height: 100%;">
                          <canvas id="canvas4" class="playable-canvas" style="border:1px solid #000000;"></canvas>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row" style="height: 10%">
            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-2">
                      <button ng-click="previousFrame()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
                      <button ng-if="!isPlaying" ng-click="switchPlay()" class="btn btn-default"><span class="glyphicon glyphicon-play"></button>
                      <button ng-if="isPlaying" ng-click="switchPlay()" class="btn btn-default"><span class="glyphicon glyphicon-pause"></button>
                      <button ng-click="nextFrame()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <div class="col-md-10">
                      <rzslider
                           rz-slider-model="slider.value"
                           rz-slider-options="slider.options"></rzslider>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <!-- Tools panel -->
      <div class="col-md-1" style="height: 100%;">
        <div class="panel panel-default text-center" style="height: 100%;">
          <div class="panel-body">
            <h4>Tools</h4>
            <hr/>
              <!-- Navigation tool -->
              <div class="panel panel-default panel-tool" ng-click="switchTool('navigation')">
                <div class="panel-heading panel-heading-tool" ng-if="tool!='navigation'">
                  <span class=" glyphicon glyphicon-move "></span><p>Navigation</p>
                </div>
                <div class="panel-heading panel-heading-tool-selected" ng-if="tool=='navigation'">
                  <span class=" glyphicon glyphicon-move "></span><p>Navigation</p>
                </div>
              </div>
              <!-- Zoom tool -->
              <div class="panel panel-default panel-tool" ng-click="switchTool('zoom')">
                <div class="panel-heading panel-heading-tool" ng-if="tool!='zoom'">
                  <span class=" glyphicon glyphicon-search "></span><p>Zoom</p>
                </div>
                <div class="panel-heading panel-heading-tool-selected" ng-if="tool=='zoom'">
                  <span class=" glyphicon glyphicon-search "></span><p>Zoom</p>
                </div>
                <div class="panel-body" ng-if="tool=='zoom'">
                    <button class="btn btn-default" data-toggle="tooltip" title="Zoom in" data-placement="left" ng-click="switchSubTool('zoomIn')">
                        <span ng-if="subTool!='zoomIn'" class="glyphicon glyphicon-zoom-in"></span>
                        <span ng-if="subTool=='zoomIn'" style="color: blue;" class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button class="btn btn-default" data-toggle="tooltip" title="Zoom out" data-placement="left" ng-click="switchSubTool('zoomOut')">
                        <span ng-if="subTool!='zoomOut'" class="glyphicon glyphicon-zoom-out"></span>
                        <span ng-if="subTool=='zoomOut'" style="color: blue;" class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                </div>
              </div>
              <!-- Keypoints tool -->
              <div class="panel panel-default panel-tool" ng-click="switchTool('keypoint');">
                <div class="panel-heading panel-heading-tool" ng-if="tool!='keypoint'">
                  <span class=" glyphicon glyphicon-screenshot "></span><p>Keypoints</p>
                </div>
                <div class="panel-heading panel-heading-tool-selected" ng-if="tool=='keypoint'">
                  <span class=" glyphicon glyphicon-screenshot "></span><p>Keypoints</p>
                </div>
              </div>
              <div class="panel panel-default" ng-draggable='dragOptions' style="position: absolute; width: 500px; height: 750px;" ng-show="keyPointEditTab==true">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-sm-1">

                          </div>
                          <div class="col-sm-10">
                              Keypoint Manager
                          </div>
                          <div class="col-sm-1">
                              <button class="btn-invisible btn-xs" ng-click="closeKeyPointEditor()"><span class="glyphicon glyphicon-remove"></span></button>
                          </div>
                      </div>
                  </div>
                  <div class="panel-body">
                    <p>
                        Test draggable
                    </p>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
