.navbar-fixed-left {
    width: 50px;
    position: fixed;
    border-radius: 0;
    height: 90%;
    text-align: center;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 50px;
    text-align: center;
}

.zui-table {
    /* border: none; */
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

.zui-table thead th {
    background-color: #DDEFEF;
    /* border: none; */
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}

.zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}

.zui-wrapper {
    position: relative;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

.zui-scroller {
    margin-left: 141px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 600px;
    max-width: 600px;
}

.zui-table .zui-sticky-col {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 0;
    position: absolute;
    top: auto;
    width: 120px;
}



.panel-loading {
    position: absolute; 
    width: 110%; 
    height: 110%; 
    background: rgba(0,0,0,0.5);
    border-color: transparent !important;
    text-align: center;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
transition: all linear 0.2s;
}

.body {
    font-family: 'Roboto', sans-serif !important;
    padding-top: 65px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    background: rgb(242, 242, 242);
}

.panel {
    /* box-shadow: 5px 5px 5px 5px 5px grey; */
    border-radius: 0 !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.panel-heading {
    background-image: none !important;
    background: rgb(34, 34, 34) !important;
    color: rgb(255, 255, 255) !important;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.panel-tool {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    width: 100%;
}

.btn-invisible {
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgb(255, 255, 255) !important;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 25px;
    border: 3px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
    background: rgb(34, 34, 34) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    border: 3px;
    font-size: 24px;
    line-height: 1.33;
    background: rgb(34, 34, 34) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-circle-selected {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 25px;
    border: 3px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
    background: rgb(76, 80, 89) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-circle-selected.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    border: 3px;
    font-size: 24px;
    line-height: 1.33;
    background: rgb(76, 80, 89) !important;
    color: rgb(255, 255, 255) !important;
}


/* CSS for spinning icons */

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}