.body{
      font-family: 'Roboto', sans-serif !important;
      padding-top: 65px;
      height: 100%%;
      width: 100%;
      position: absolute;
      overflow-x: hidden;
      overflow-y: hidden;
      background: rgb(242,242,242);
}

.panel{
      /* box-shadow: 5px 5px 5px 5px 5px grey; */
      border-radius: 0 !important;
      margin-left: 4px !important;
      margin-right: 4px !important;
      margin-top: 4px !important;
      margin-bottom: 4px !important;
}

.panel-heading{
  background-image: none !important;
  background: rgb(34,34,34) !important;
  color: rgb(255,255,255) !important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.panel-tool{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 4px;
  width: 100%;

}

.btn-invisible {
  background-color: transparent !important;
  border-color: transparent !important;
  color: rgb(255,255,255) !important;
}

.panel-heading-tool{
  background: rgb(34,34,34) !important;
}

.panel-heading-tool-selected{
  background: rgb(76,80,89) !important;
}
